# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Logs
logs/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Environment files
.env

# Build files
dist/
build/
*.egg-info/

# Testing
.pytest_cache/

# PCAP files
*.pcap